
     body{
         background-color: powderblue ;
     }
  
    hr {
        border-style: dotted;
        border-color: red;
        height:0px;
        width:5%;
       
    }
    h2{
        color: red;
    }
    h3{
        color: red;
    }
    h1{
        color: red;
    }
    img:hover{
    bagbackground: yellow;
        
    }
    /******************class selector*********/
    .image {
    
    border-radius: 50%;}
    
    
    
    
    /*****************class selector*********/
 
  

